    body {
        background-color: beige; 
        margin: 0;
        padding: 40px;
        font-family: Tahoma, Arial, sans-serif;
        color: black; 
    }

   
    body > * {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    h1, h2, h3 {
        font-family: Georgia, serif;
        color: black;
    }

    h1 {
        text-align: center;
        background-color: white ; 
        color: black;
        padding: 15px;
        border-radius: 10px;
        letter-spacing: 1px;
    }

    h2 {
        border-left: 6px solid rgb(255, 255, 255); 
        padding-left: 12px;
        margin-top: 40px;
    }

    h3 {
        border-left: 6px solid rgb(255, 255, 255); 
        padding-left: 12px;
        margin-top: 40px;
    }

    p {
        background-color: beige;
        padding: 20px 30px;
        border-radius: 8px;
        line-height: 1.6;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        font-size: 25px;
    }
html {
  background-color:beige
}

body {
  background-image: url('photos/newbg.jpg');
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  font-family: Tahoma, Arial, sans-serif;
  padding: 40px;          
}

a {
    color: white;
}


.top-nav {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 12px;
  z-index: 20;
}

.top-nav a {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: background 0.2s ease, transform 0.15s ease;
}

.top-nav a:hover, #nextbtn:hover {
  background-color:  rgb(235, 213, 185);
  transform: translateY(-2px);
}

#nextbtn{
    bottom: 20px;
    right: 20px;
    position: fixed;
    background-color: white;
    color: black;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
}
    

 .back-to-top {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  opacity: 0;                
  transition: opacity 0.5s;
}


.bottom-spacer {
  height: 200px;             
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-spacer:target .back-to-top,
.bottom-spacer:hover .back-to-top {
  opacity: 1;
}